@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("./fitghtclub.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.section-main {
  height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: 5rem;
  -webkit-text-stroke: 2px white;
  color: #c42a60;
  text-shadow: 2px 2px #471e33;
}
h2 {
  font-weight: normal;
  font-size: 3rem;
  margin-top: 5rem;
  -webkit-text-stroke: 2px white;
  color: #c42a60;
  text-shadow: 2px 2px #471e33;
}
.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
  -webkit-text-stroke: 2px white;
  text-shadow: 2px 2px #471e33;
  color: #c42a60;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.3rem;
  -webkit-text-stroke: 0.5px white;
  color: #e7dfe2;
}
